---
import Layout from '@/layouts/Layout.astro';
import HomePage from '@/sections/Hero.astro';
import Lideres from '@/sections/Lideres.astro';
---

<Layout title="Computer Society">
	<main>
		<Lideres/>		
	</main>
</Layout>

