---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LiderDetail from '../components/LiderDetail.astro';
import HomePage from '@/components/HomePage.astro';
---

<Layout title="Computer Society">
	<main>
		<HomePage/>		
	</main>

