---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LiderDetail from '../components/LiderDetail.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <Card title={''} body={''} href={''}/> -->
		<LiderDetail/>
	</main>

