---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import PastProjects from "../sections/PastProjects.astro";
import Proyectos from "../sections/Proyectos.astro";
import Teams from "../sections/Teams.astro";
---

<Layout title="Computer Society">
	<main>
		<Hero/>
		<Teams/>
		<Proyectos/>
		<PastProjects/>
	</main>
</Layout>

