---
import Layout from '@/layouts/Layout.astro';
import HomePage from '@/sections/Hero.astro';
import Events from '@/sections/Events.astro';
---

<Layout title="Computer Society">
	<main>
		<HomePage/>
        <Events/>
	</main>
</Layout>

