---
import Layout from "../layouts/Layout.astro";
import Proyecto from "../components/Proyecto.astro";
---
<Layout title = "Proyectos">
    <style>
        @keyframes aparecerDesdeArriba {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
		}
        
        main {
        animation: aparecerDesdeArriba 3s ease-out;
        flex-direction: column; /* Cambiamos la dirección a columna en dispositivos pequeños */
        border-radius: 24px;
        background: #2B2B2B;
        border-bottom: 20px;
        }

        .parentesis{
            color: var(--Accent-1, #E7526D);
            font-family: Ubuntu;
            font-size: 73.671px;
            font-style: normal;
            font-weight: 700;
            
            
        }

        .proyectos{
            color: var(--White, #FFD110);
            font-family: Ubuntu;
            font-size: 70px;
            font-weight: 700;
            line-height: 41.935px;
            letter-spacing: 0.737px;
            min-height: 150px;
        }

        .enCurso{
            color: var(--White, #FFF);
            font-family: Ubuntu;
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
        }
        .barraAmarilla{
            
            justify-content: space-between; /* Espacio uniforme entre los elementos hijos */
            align-items: center;
            border-radius: 21.629px;
            background: #FFD02A;
            width: 70%;
            min-height: 150px;
            display: flex;
            margin: 1% auto;
            padding: 20 20px;
            
            
            
        }

        
        
        @media only screen and (max-width: 900px) {

            .parentesis, .proyectos, .enCurso {
                font-size: 40px; 
            }

            .barraAmarilla{
            height: auto;
            margin: auto;
            flex-direction: column
            
            }

            

        }

    </style>
    <main>
        <h2 style="text-align: center; padding: 40px;">
            <span class="parentesis">&#123;</span>
            <span class="proyectos">Proyectos </span>
            <span class="enCurso">en curso</span>
            <span class="parentesis"> &#125;</span>
        </h2>
        <div class="barraAmarilla">

            <Proyecto/>
            <Proyecto/>
            <Proyecto/>
            <Proyecto/>
            <Proyecto/>
            
        </div>
    </main>
    

</Layout>
 