---
import LocationIcon from '@/icons/Location.astro'
interface Props {
    date: string;
    type: string;
    event_title: string;
    location: string;
    speaker_name: string;
    speaker_rol: string;
	speaker_image: string;
	event_body: string;
    event_image: string;
}

const { date, type, event_title, location, speaker_name, speaker_rol, speaker_image, event_body, event_image } = Astro.props;
---

<div id="Card-Container" style=`background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 84%), url(${event_image});`>
    <div id="Description">
        Lorem ipsum dolor sit amet consectetur. Semper duis non viverra aliquam morbi. 
        Et a eget diam eu iaculis a faucibus. A sit lectus quis vulputate laoreet.
    </div>
    <div id="Info-Container">        
        <div id="Left-Container">
            <div id="Date-Container">
                <p id="Day">
                    AUG<br/>18
                </p>
                <p id="Hour">
                    7 pm
                </p>
            </div>
            <div id="Type-Container">
                <div style="width: 27.49px; height: 27.49px; background: #00F1A9; border-radius: 9999px"></div>
                <div style="width: 27.49px; height: 27.49px; background: #FF4747; border-radius: 9999px"></div>
                <div style="width: 27.49px; height: 27.49px; background: #8819F8; border-radius: 9999px"></div>
            </div>
        </div>
        <div style="width: 217.60px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 1.15px white solid"></div>
        <div id="Right-Container">
            <div>
                <span style="color: rgba(100.88, 87.93, 249.87, 0.92); font-size: 31px; font-family: Ubuntu; font-weight: 700; word-wrap: break-word">
                    &lcub;
                </span>
                <span style="color: #FFD02A; font-size: 31px; font-family: Ubuntu; font-weight: 700; word-wrap: break-word"> 
                </span>
                <span style="color: white; font-size: 31px; font-family: Ubuntu; font-weight: 700; word-wrap: break-word">
                    Taller Docker
                </span>
                <span style="color: #FFD02A; font-size: 31px; font-family: Ubuntu; font-weight: 700; word-wrap: break-word"> 
                </span>
                <span style="color: rgba(100.88, 87.93, 249.87, 0.92); font-size: 31px; font-family: Ubuntu; font-weight: 700; word-wrap: break-word">
                    &rcub;<br/>
                </span>
            </div>
            <div id="Location-Container">
                <div style="width: 21.47px; height: 28.63px;">
                    <LocationIcon />
                </div>
                <div style="width: 95.06px; height: 25.20px; color: white; font-size: 22.91px; font-family: Ubuntu; font-weight: 400; word-wrap: break-word"> 
                    Location<br/>
                </div>
            </div>
            <div id="Speaker-Container">
                <img style="width: 59.55px; height: 59.55px; border-radius: 9999px" src="https://via.placeholder.com/60x60" />
                <div id="Speaker-Info-Container">
                    <div style="text-align: center">
                        <span style="color: rgba(100.88, 87.93, 249.87, 0.92); font-size: 16px; font-family: Ubuntu; font-weight: 500; word-wrap: break-word">
                            &lt;
                        </span>
                        <span style="color: white; font-size: 16px; font-family: Ubuntu; font-weight: 500; word-wrap: break-word">
                            Cristobal Arroyo
                        </span>
                        <span style="color: rgba(100.88, 87.93, 249.87, 0.92); font-size: 16px; font-family: Ubuntu; font-weight: 500; word-wrap: break-word">
                            /&gt;
                        </span>
                    </div>
                    <div style="text-align: center; color: white; font-size: 12px; font-family: Ubuntu; font-weight: 300; word-wrap: break-word">
                        CS Chair
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="Button-Container">
        <div id="Button">
            Registrate
        </div>
    </div>
</div>

<style lang="scss" define:vars={{image: event_image}}>
    $Event_image: url(var(--image));
    #Card-Container {
        width: 100%; 
        height: 100%; 
        padding-top: 80px; 
        padding-bottom: 46px; 
        padding-left: 40px; 
        padding-right: 40.25px; 
        border-radius: 71px; 
        overflow: hidden; 
        flex-direction: column; 
        justify-content: flex-end; 
        align-items: center; 
        gap: 12.18px; 
        display: inline-flex; 
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center; 
        #Description {
            width: 386px; 
            height: 344px; 
            text-align: center; 
            color: white; 
            font-size: 30px; 
            font-family: Ubuntu; 
            font-weight: 700; 
            word-wrap: break-word;
            visibility: hidden;
        }
        #Info-Container {
            width: 423.75px; 
            height: 250.82px; 
            position: relative; 
            flex-direction: row; 
            justify-content: flex-start; 
            align-items: flex-start; 
            display: flex;        
            #Left-Container {
                    flex-direction: column; 
                    justify-content: flex-start; 
                    align-items: flex-start; 
                    gap: 19.47px; 
                    display: inline-flex;
                    #Date-Container {
                        flex-direction: column; 
                        justify-content: flex-start; 
                        align-items: center; 
                        display: flex;
                
                        p {
                            margin-block-start: 0;
                            margin-block-end: 0;
                            text-align: center; 
                            color: white; 
                            font-size: 34.36px; 
                            font-family: Ubuntu;
                            word-wrap: break-word; 
                            #Day {
                                width: 103.08px; 
                                height: 79.02px; 
                                font-weight: 700; 
                            }
                            #Hour {
                                width: 100.78px; 
                                height: 37.79px;                 
                                font-weight: 500;
                            }
                        }
                    }
                    #Type-Container {
                        justify-content: flex-start; 
                        align-items: flex-start; 
                        gap: 12.60px; 
                        display: inline-flex;
                    }
                }
            #Right-Container {
                flex-direction: column; 
                justify-content: flex-start; 
                align-items: flex-start; 
                gap: 17.18px; 
                display: inline-flex;
                #Location-Container {
                    width: 100%; 
                    height: 28.63px; 
                    justify-content: center; 
                    align-items: flex-end; 
                    gap: 3.72px; 
                    display: inline-flex;
                }
                #Speaker-Container {
                    justify-content: center; 
                    align-items: center; 
                    gap: 9.18px; 
                    display: inline-flex;
                    #Speaker-Info-Container {
                        width: 150.03px; 
                        align-self: stretch; 
                        padding-top: 2.40px; 
                        padding-bottom: 6.41px; 
                        padding-left: 0.02px; 
                        padding-right: 3.01px; 
                        flex-direction: column; 
                        justify-content: flex-start; 
                        align-items: flex-start; 
                        gap: 5px; 
                        display: inline-flex
                    }
                }
            }
        }
        #Button-Container {
            height: 58px; 
            padding-left: 40px; 
            padding-right: 40px; 
            padding-top: 30px; 
            padding-bottom: 30px; 
            border-radius: 17px; 
            overflow: hidden; 
            border: 2px #FFD02A solid; 
            justify-content: center; 
            align-items: center; 
            gap: 10px; 
            display: inline-flex;
            #Button {
                text-align: center; 
                color: #FFD02A; 
                font-size: 30px; 
                font-family: Work Sans; 
                font-weight: 700; 
                line-height: 27.88px; 
                word-wrap: break-word
            }
        }
        #Button-Container:is(:hover, :focus-within) {
            display: inline-flex;
            height: 58px;
            padding: 30px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 17px;
            background: #FFD02A;
    
            #Button{
                color: #070707;
                text-align: center;
                font-family: Work Sans;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 27.878px; /* 92.927% */
            }
        }
    }
    #Card-Container:is(:hover, :focus-within) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), $Event_image !important;
        #Description {
            visibility: visible;
        }
    }
</style>
