---
import CSlogo from "../../public/CSLogo.astro";
---

<!-- navbar that spans the full page and sticks to the top when scrolling using tailwind-->
<div class="w-full z-20 top-0 start-0 h-28">
    <div class="fixed w-full z-20 top-0 start-0 p-6">
        <nav class="bg-andes-yellow rounded-lg">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4 px-6">
                <a href="" class="transition flex items-center space-x-2 rtl:space-x-reverse ease-in-out hover:scale-105">
                    <div class="flex items-center justify-center w-10 h-10">
                        <CSlogo />
                    </div>
                    <h2 class="text-3xl font-bold text-black">CS Uniandes</h2>
                </a>

                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <button
                        data-collapse-toggle="navbar-sticky"
                        type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-slate-950 rounded-lg md:hidden hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-600"
                        aria-controls="navbar-sticky"
                        aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"></path>
                        </svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                    <ul class="flex flex-col p-4 md:p-0 mt-4 font-semibold border md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0  text-slate-50">
                        <li>
                            <a href="" class="transition block py-2 px-3 md:hover:text-pink md:p-0" aria-current="page">Home</a>
                        </li>
                        <li>
                            <a href="about" class="transition block py-2 px-3 md:hover:text-pink md:p-0">Sobre Nosotros</a>
                        </li>
                        <li>
                            <a href="events" class="transition block py-2 px-3 md:hover:text-pink md:p-0">Eventos</a>
                        </li>
                        <li>
                            <a href="teams" class="transition block py-2 px-3 md:hover:text-pink md:p-0">Equipos</a>
                        </li>
                        <li>
                            <a href="projects" class="transition block py-2 px-3 md:hover:text-pink md:p-0">Proyectos</a>
                        </li>
                        <li>
                            <a href="members" class="transition block py-2 px-3 md:hover:text-pink md:p-0">Miembros</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
