---
interface Props {
    nombre: string;
    descripcion: string;
    novedades: string[];
    etapas: { [etapa: string]: string };
    fechaFin: Date;
    img: string;
}

const { nombre, descripcion, novedades, etapas, fechaFin, img } = Astro.props;

---

<style>
    .circulo {
        display: flex;
        margin: 20px;
        transition: transform 0.3s ease;
    }
    .circulo:hover {
    transform: scale(1.2);
    }
    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }
    .titulo{
        text-align: center;

    }
    @media only screen and (max-width: 900px) {
        .circulo {
            float: left; /* Coloca la imagen a la izquierda */
            max-width: 40%;

        }
        .titulo {
            float: right; /* Coloca la imagen a la izquierda */
            margin: 0px;
            margin-top: 10%;
            margin-right: 4%;
            font-size: 24px;
            max-width: 40%;
        }
        img {
        width: 100%;
        height: auto;
        object-fit: cover;
        }
    }
</style>

<div>
     <div class="circulo" >
         <img src={ img } alt="Imagen" />
     </div>
     <h3 class="titulo">{nombre}</h3>
</div>
