---

import PastProject from "../components/PastProject.astro";---
<style>
    .past-projects{
        display: flex;
        flex-direction: column;
    }
    .past-projects__title{
        font-family: Ubuntu,serif;
        font-size: 75.952px;
        font-style: normal;
        font-weight: 600;
        line-height: 55px;
    }
    .past-projects__title_1{
        color: #E7526D;
    }
    .past-projects__title_2{
        color: #FFD110;
    }
    .past-projects__title_3{
        color: #FFF;
    }

    .past-projects > p{
        font-family: Ubuntu,serif;
        font-size: 1.5em;
        font-style: normal;
        font-weight: 500;
        line-height: 55px;
        color: #FFF;
    }

    .past-projects__carrousel{
        display: flex;
        flex-direction: row;

        gap: 2rem;
    }
</style>

<section id="past-projects" class="past-projects">
    <h2 class="past-projects__title">
        <span class="past-projects__title_1"><</span>
        <span class="past-projects__title_2">Proyectos</span>
        <span class="past-projects__title_3"> Anteriores</span>
        <span class="past-projects__title_1">></span>
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur. Justo quis nunc bibendum cursus scelerisque a quis varius urna. Cum sed eget amet nisl risus eget faucibus. Ac pellentesque sed lobortis elementum sit semper massa tristique augue. Venenatis molestie congue viverra ut odio vel mauris tellus.
    </p>

    <div class="past-projects__carrousel card-group">
            <PastProject

            />
            <PastProject

            />
            <PastProject

            />
            <PastProject

            />
    </div>
</section>