---
import Team from "../components/TeamComponent.astro";
import teams from "../data/Teams.json";
---

<div>
    <h1 class="title">
        <span class="pink"> &#123;</span>
        <span class="default"> Nuestros Equipos</span>
        <span class="pink"> &#125;</span>
    </h1>

    <div class="grid grid-cols-3 w-full h-auto lg:px-40 pt-7 pb-20">
    {
        teams.map((team) => (
            <div class="circle-container">
                <Team img={team.img} teamName={team.nombre} />
            </div>
        ))
    }
    </div>
</div>

<style>
    .circle-container {
        display: flex;
        justify-content: space-around;
        height: 10%;
        margin: 5%;
    }
    .title {
        text-align: center;
        font-size: 120%;
    }
    .pink {
        color: #d65c6f;
    }

    .default {
        color: #d9d9d9;
    }

    @media only screen and (min-width: 600px) {
        .title {
            text-align: center;
            font-size: 150%;
        }
    }
    @media only screen and (min-width: 600px) {
        .title {
            text-align: center;
            font-size: 300%;
        }
    }
</style>
